source /boot/grub/config.cfg

# Live boot
menuentry "[TempOS] Desktop" --hotkey=l {
	linux	/live/vmlinuz boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS noprompt noeject quiet splash findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "[TempOS] Desktop (USB removable after boot, min 4GB RAM)" --hotkey=2 {
	linux	/live/vmlinuz boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS toram noprompt noeject findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "[TempOS] Desktop (With boot messages)" --hotkey=3 {
	linux	/live/vmlinuz boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS noprompt noeject findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "[TempOS] Desktop (When graphics does not work)" --hotkey=4 {
	linux	/live/vmlinuz boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS nomodeset noprompt noeject findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "[TempOS] Console" --hotkey=5 {
	linux	/live/vmlinuz boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS i915.nomodeset 3 noprompt noeject findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "Failsafe Mode (UEFI - GRUB)" --hotkey=6 {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788
	initrd	/live/initrd.img
}

if [ "${grub_platform}" = "pc" ] -a [ -e /live/memtest.bin ]; then
	menuentry "Memory tester (memtest86+)" --hotkey=7 {
		linux /live/memtest.bin
	}
elif [ "${grub_platform}" = "efi" ] -a [ -e /live/memtest.efi ]; then
	menuentry "Memory tester (memtest86+)" --hotkey=7 {
		linux /live/memtest.efi
	}
fi