menu hshift 0
menu width 82
# menu title Boot menu
menu background tempos.png
menu color title	* #FFFFFFFF *
menu color border	* #00000000 #00000000 none
menu color sel		* #ffffffff #76a1d0ff *
menu color hotsel	1;7;37;40 #ffffffff #76a1d0ff *
menu color tabmsg	* #ffffffff #00000000 *
menu color help		37;40 #ffdddd00 #00000000 none
menu vshift 15
menu rows 7
menu helpmsgrow 12
# The command line must be at least one line from the bottom.
menu cmdlinerow 13
menu timeoutrow 13
menu tabmsgrow 15
menu tabmsg Press ENTER to boot or TAB to edit a menu entry

label live-amd64
	menu label [TempOS] Desktop
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS noprompt noeject quiet splash

label live-amd64-bootlog
	menu label [TempOS] Desktop (USB removable after boot, min 4GB RAM)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS toram noprompt noeject

label live-amd64-bootlog
	menu label [TempOS] Desktop (With boot messages)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS noprompt noeject

label live-amd64-nomodeset
	menu label [TempOS] Desktop (When graphics does not work)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS nomodeset noprompt noeject

label live-amd64-console
	menu label [TempOS] Console
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components locales=nl_BE.UTF-8 timezone=Europe/Brussels keyboard-layouts=be,nl keyboard-variants=,us overlay-size=50% swap=false hostname=TempOS nomodeset 3 noprompt noeject

label live-amd64-failsafe
	menu label Failsafe Mode (Legacy - IsoLinux)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788

label memtest
	menu label Memory tester (memtest86+)
	linux /live/memtest.bin

menu clear
