{
  "HomepageLocation": "{HomePageUrl}",
  "HomepageIsNewTabPage": false,
  "ShowHomeButton": true,
  "RestoreOnStartup": 4,
  "RestoreOnStartupURLs": [
    "{StartPageUrl}"
  ],
  "ManagedSearchProviderEnabled": true,
  "ManagedSearchProviderName": "DuckDuckGo",
  "ManagedSearchProviderKeyword": "duckduckgo.com",
  "ManagedSearchProviderSearchURL": "https://duckduckgo.com/?q={searchTerms}",
  "ManagedSearchProviderSuggestURL": "https://duckduckgo.com/ac/?q={searchTerms}&type=list",
  "ManagedSearchProviderNewTabURL": "https://duckduckgo.com/chrome_newtab",
  "TranslateEnabled": false,
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "DefaultBrowserSettingEnabled": false,
  "MetricsReportingEnabled": false,
  "PromotionalTabsEnabled": false,
  "WelcomePageOnOSUpgradeEnabled": false,
  "BrowserSignin": 0,
  "SyncDisabled": true,
  "DefaultNotificationsSetting": 2,
  "DefaultGeolocationSetting": 2,
  "PrivacySandboxAdTopicsEnabled": false,
  "PrivacySandboxSiteEnabledAdsEnabled": false,
  "PrivacySandboxAdMeasurementEnabled": false,
  "ShoppingListEnabled": false,
  "UserFeedbackAllowed": false,
  "BackgroundModeEnabled": false,
  "UrlKeyedAnonymizedDataCollectionEnabled": false,
  "SearchSuggestEnabled": false,
  "HideWebStoreIcon": true,
  "PromotionalTabsEnabled": false,
  "ShowCastIconInToolbar": false,
  "LensOverlaySettings": 1,
  "GenAiDefaultSettings": 2
}