[Desktop Entry]
Version=1.0
Type=Application
Name=Uitschakelen (Je mag dit ook met de aan/uit knop van de computer doen!)
Comment=
Exec=tools shutdown
Icon=xfsm-shutdown
Path=
Terminal=false
StartupNotify=false
